<div fxLayout="column" fxLayoutGap="1rem">
  <mat-card>
    <mat-card-title>
      {{currentOperation}} Attraction
    </mat-card-title>
    <mat-card-content *ngIf="formPopulated">
      <form [formGroup]="attractionForm" (ngSubmit)="submitAttraction()" fxLayout="column">

        <mat-form-field appearance="outline">
          <mat-label>Attraction Name</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="5" formControlName="description"></textarea>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Location</mat-label>
          <mat-select formControlName="location">
            <mat-option *ngFor="let l of locations$ | async" value="{{l.name}}">
              {{l.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Attraction Status</mat-label>
          <mat-select formControlName="status">
            <mat-option *ngFor="let s of statuses$ | async" value="{{s?.status}}">
              {{s?.status}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-label *ngIf="id">Wait Time</mat-label>
        <mat-slider *ngIf="id" class="mat-form-field-wrapper" formControlName="waittime" color="primary" max="180"
          min="0" step="5" thumbLabel="true" tickInterval="1">
        </mat-slider>

        <mat-label>Is QuickLane available at this attraction?</mat-label>
        <mat-slide-toggle class="mat-form-field-wrapper" formControlName="quicklane" color="primary">
          {{attractionForm.controls.quicklane.value | booleanToString}}
        </mat-slide-toggle>

        <div fxLayout="row" fxLayoutAlign="space-between">
          <button mat-raised-button type="button" color="accent" (click)="cancel()">Cancle</button>
          <button mat-raised-button type="submit" color="primary" [disabled]="attractionForm.invalid">{{currentOperation}}</button>
        </div>

      </form>
    </mat-card-content>
  </mat-card>
</div>
