<div fxLayout="column" fxLayoutGap="1rem">
  <mat-card>
    <mat-card-title>
      {{currentOperation}} Status
    </mat-card-title>
    <mat-card-content *ngIf="formPopulated">
      <form [formGroup]="statusForm" (ngSubmit)="submitStatus()" fxLayout="column">

        <mat-form-field appearance="outline">
          <mat-label>Status Name</mat-label>
          <input matInput formControlName="statusName">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <input matInput formControlName="description">
        </mat-form-field>

        <div fxLayout="row" fxLayoutAlign="space-between">
          <a mat-raised-button color="accent" routerLink="/{{cancelUrl}}">Cancle</a>
          <button mat-raised-button type="submit" color="primary" [disabled]="statusForm.invalid">{{currentOperation}}</button>
        </div>

      </form>
    </mat-card-content>
  </mat-card>
</div>
