<div fxLayout="column" fxLayoutGap="1rem">
  <a>
    <mat-card>
      <mat-card-title>
        View Rides
      </mat-card-title>
      <mat-card-content>
        View a list of rides available and their details.
      </mat-card-content>
    </mat-card>
  </a>
  <a>
    <mat-card>
      <mat-card-title>
        Create Ride Form
      </mat-card-title>
      <mat-card-content>
        Create a ride through a validated form.
      </mat-card-content>
    </mat-card>
  </a>
  <a>
    <mat-card>
      <mat-card-title>
        Import Ride JSON
      </mat-card-title>
      <mat-card-content>
        Create a ride with a JSON object.
      </mat-card-content>
    </mat-card>
  </a>
</div>
