<div fxLayout="column" fxLayoutGap="1rem">
  <div fxLayout="row" fxLayoutGap="1rem">
    <div *ngFor="let card of cards" fxFlex="25">
      <a routerLink="{{card.url}}">
        <mat-card>
          <mat-card-title>
            {{card.title}}
          </mat-card-title>
          <mat-card-content>
            {{card.description}}
          </mat-card-content>
        </mat-card>
      </a>
    </div>
  </div>
  <!-- <div>
    <mat-slider style="margin: 8px; width: 100%;" max="600" min="0" step="5" thumbLabel="true" tickInterval="1">
    </mat-slider>
  </div> -->
</div>
